<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar navigation -->
        <%- include('partials/sidebar.ejs') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- top navigation -->
                <%- include('partials/topbar.ejs') %>

                <!-- Begin Page Content -->

				<%- include(partials) %>

                <!-- content of page goes here -->

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include('partials/footer.ejs') %>

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logoutModal.ejs') %>

    <!-- scripts goes here -->
    <%- include('partials/scripts.ejs') %>

	

</body>
</html>

