<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar navigation -->
        <%- include('partials/sidebar.ejs') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- top navigation -->
                <%- include('partials/topbar.ejs') %>

                <!-- Begin Page Content -->

                <!-- content of page goes here -->
                <%- include(partials) %>
                
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include('partials/footer.ejs') %>

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logoutModal.ejs') %>

    <!-- scripts goes here -->
    
    <%- include('partials/scripts.ejs') %>

    <script src="/public/js/data.js"></script>

    <script>
        
    </script>

    <script>
        let listing = '<%- JSON.stringify(list) %>'

        var $table = $('#table')
        var $remove = $('#remove')
        var selections = []
      
        function getIdSelections() {
            return $.map($table.bootstrapTable('getSelections'), function (row) {
                return row.id
            })
        }
      
        function responseHandler(res) {
            $.each(res.rows, function (i, row) {
                row.state = $.inArray(row.id, selections) !== -1
            })
            return res
        }
      
        function detailFormatter(index, row) {
            var html = []
            $.each(row, function (key, value) {
                html.push('<p><b>' + key + ':</b> ' + value + '</p>')
            })
            return html.join('')
        }
      
        function operateFormatter(value, row, index) {
            for(i=0; i < listing.length; i++){
            return [
                `<button class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                </button>`
                ,
                
                    `<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" type="button" data-toggle="modal" data-target="#exampleModal${i}" href="#">Details</a>
                </div>`
                
            ].join('')
            }
        }
        
        /*
        window.operateEvents = {
            'click .like': function (e, value, row, index) {
                console.log('You click like action, row: ' + JSON.stringify(row))
            },
            'click .remove': function (e, value, row, index) {
                $table.bootstrapTable('remove', {
                field: 'id',
                values: [row.id]
                })
            }
        }*/
      
        // function totalTextFormatter(data) {
        //   return 'Total'
        // }
      
        // function totalNameFormatter(data) {
        //   return data.length
        // }
      
        // function totalPriceFormatter(data) {
        //   var field = this.field
        //   return '$' + data.map(function (row) {
        //     return +row[field].substring(1)
        //   }).reduce(function (sum, i) {
        //     return sum + i
        //   }, 0)
        // }
      
       var $table = $('#table')
       
      
        $(function() {
            
            //console.log(listing)
            var data = JSON.parse(listing) //testing required
            //console.log(data)
            for(i=0; i<data.length; i++){ //change the value to date
                let start = moment(data[i].dateEntry).format('MM/DD/YYYY')
                let end = moment().format('MM/DD/YYYY')
                console.log(new Date(end))
                console.log(moment(data[i].dateEntry).format('MM/DD/YYYY'))
                let dif = new Date(end) - new Date(start)
                let d = dif/(1000*3600*24)
                data[i].age = d +" days"
                console.log( data[i].age)

                let status = data[i].currentStatus
                if(status == "A2"){
                    data[i].currentStatus = "IN MEDICINE ROOM"
                }

                let expire = moment(data[i].mohExpire).format('DD/MM/YYYY')
                data[i].mohExpire = expire
            }
            $table.bootstrapTable({data: data})
            $table.bootstrapTable('updateFormatText', 'formatShowingRows', 'Showing')
        })
      
      // Events
        $('.dropdown-container')
            .on('click', '.dropdown-button', function() {
                $(this).siblings('.dropdown-list').toggle();
            })
            .on('input', '.dropdown-search', function() {
                var target = $(this);
                var dropdownList = target.closest('.dropdown-list');
                var search = target.val().toLowerCase();
            
                if (!search) {
                    dropdownList.find('li').show();
                    return false;
                }
            
                dropdownList.find('li').each(function() {
                    var text = $(this).text().toLowerCase();
                    var match = text.indexOf(search) > -1;
                    $(this).toggle(match);
                });
            })
            .on('change', '[type="checkbox"]', function() {
            var container = $(this).closest('.dropdown-container');
            var numChecked = container. find('[type="checkbox"]:checked').length;
            container.find('.quantity').text(numChecked || 'Any');
        });
      
        $(document).ready(function () {
            var seachHtml = "";
            var checkBoxIdNoPart = 0;
            $("table.table-bordered thead tr th div.th-inner").each(function () {
            checkBoxIdNoPart++;
            seachHtml +=
                '<input class="checkBoxClass"  value=' + checkBoxIdNoPart + ' type="checkbox">' 
            });
    
            $('.dropdown-list').append(seachHtml);
    
            $("#search_input").keyup(function () {
                var searchText = $(this).val().toLowerCase();
                // Show only matching TR, hide rest of them
                $.each(checkBoxValArray, function (index, value) {
                    $.each($('#table tbody td:nth-child(' + value + ')'), function () {
                    if ($(this).text().toLowerCase().indexOf(searchText) != -1)
                        $(this).parent().show();
                    else
                        $(this).parent().hide();
                    });
                });
            });
    
            var checkBoxValArray = [];
            $('.checkBoxClass').click(function () {
                checkBoxValArray.push($(this).val());
            });
        });
    </script>

</body>
</html>