<!DOCTYPE html>
<html lang="en">

<%- include('partials/head.ejs') %>

    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- sidebar navigation -->
            <%- include('partials/sidebar.ejs') %>

                <!-- Content Wrapper -->
                <div id="content-wrapper" class="d-flex flex-column">
                    <!-- Main Content -->
                    <div id="content">

                        <!-- top navigation -->
                        <%- include('partials/topbar.ejs') %>

                            <!-- Begin Page Content -->

                            <!-- content of page goes here -->
                            <%- include(partials) %>

                                <!-- /.container-fluid -->

                    </div>
                    <!-- End of Main Content -->

                    <%- include('partials/footer.ejs') %>

                </div>
                <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <%- include('partials/logoutModal.ejs') %>

            <!-- scripts goes here -->

            <%- include('partials/scripts.ejs') %>


                <script>
                    let listing = `<%- JSON.stringify(list) %>`
                    console.log(listing)
                    var $table = $('#table')
                    var $remove = $('#remove')
                    var selections = []

                    function getIdSelections() {
                        return $.map($table.bootstrapTable('getSelections'), function (row) {
                            return row.id
                        })
                    }

                    function responseHandler(res) {
                        $.each(res.rows, function (i, row) {
                            row.state = $.inArray(row.id, selections) !== -1
                        })
                        return res
                    }

                    function detailFormatter(index, row) {
                        var html = []
                        $.each(row, function (key, value) {
                            html.push('<p><b>' + key + ':</b> ' + value + '</p>')
                        })
                        return html.join('')
                    }

                    // function operateFormatter(value, row, index) {
                    //     //console.log(index)
                    //     var data = JSON.parse(listing)
                    //     for (i = 0; i < row.history.length; i++) {
                    //         //console.log(row.history.length)
                    //         console.log(row)
                    //         //console.log(data[index].trackingNumber)
                    //         let n = index + 1
                    //         let m = row[i].history[i].dateUpdated
                    //         let j = data[index].trackingNumber
                    //         //console.log(n)
                    //         console.log(m)
                    //         return [
                    //             `<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#modal${index}">Additional Details</button>`
                    //             ,

                    //             `
                    //             <div class="modal fade" id="modal${index}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    //             <div class="modal-dialog" role="document">
                    //                 <div class="modal-content">
                    //                 <div class="modal-header">
                    //                     <h5 class="modal-title" id="modal${index}label">Tracking Number: ${j} </h5>
                    //                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    //                     <span aria-hidden="true">&times;</span>
                    //                     </button>
                    //                 </div>
                    //                 <div class="modal-body">
                    //                     <table class="table table-striped">
                    //                         <thead>
                    //                             <tr>
                    //                                 <th scope="col">#</th>
                    //                                 <th scope="col">Update By</th>
                    //                                 <th scope="col">Last Update</th>
                    //                             </tr>
                    //                         </thead>
                    //                         <tbody>
                    //                         <% list.forEach((list,index)=>{ %>
                    //                             <tr>
                    //                                 <td></td>
                    //                                 <td></td>
                    //                                 <td></td>
                    //                             </tr>
                    //                         <% }) %>
                    //                         </tbody>
                    //                     </table>
                    //                 </div>
                    //                 <div class="modal-footer">
                    //                     <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                    //                 </div>
                    //                 </div>
                    //             </div>
                    //             </div>
                    //             `
                    //         ].join('')
                    //     }
                    // }
                    
                    
                    // window.operateEvents = {
                    //     'click .like': function (e, value, row, index) {
                    //         console.log('You click like action, row: ' + JSON.stringify(row))
                    //     },
                    //     'click .remove': function (e, value, row, index) {
                    //         $table.bootstrapTable('remove', {
                    //         field: 'id',
                    //         values: [row.id]
                    //         })
                    //     }
                    // }
                    

                    // function totalTextFormatter(data) {
                    //   return 'Total'
                    // }

                    // function totalNameFormatter(data) {
                    //   return data.length
                    // }

                    // function totalPriceFormatter(data) {
                    //   var field = this.field
                    //   return '$' + data.map(function (row) {
                    //     return +row[field].substring(1)
                    //   }).reduce(function (sum, i) {
                    //     return sum + i
                    //   }, 0)
                    // }

                    var $table = $('#table')

                    $(function () {

                        //console.log(listing)
                        var data = JSON.parse(listing) //testing required
                        console.log(data)
                        for (i = 0; i < data.length; i++) { //change the value to date
                            // for(j = 0; j < data[i].history.length; j++){
                            //     console.log(data[i].history[j].updateBy)
                            // }

                            let dateEntry = data[i].dateEntry + " | " + data[i].timeEntry   
                            console.log(dateEntry)
                            let start = moment(data[i].dateEntry, "DD/MM/YYYY").format()
                            console.log(moment(data[i].dateEntry, "DD/MM/YYYY").format("DD/MM/YYYY"))
                            let end = moment().format()
                            console.log(moment().format("DD/MM/YYYY"))

                            let dif = new Date(end) - new Date(start)
                            let d = dif / (1000 * 3600 * 24)
                            if (Math.round(d) == 1) {
                                data[i].age = Math.round(d) + " day"
                            }
                            if (Math.round(d) > 1) {
                                if ((data[i].service == "MOH") || (data[i].service == "JPMC") || (data[i].service == "PNG")) {
                                    if (Math.round(d) < 7) {
                                        data[i].age = Math.round(d) + " days"
                                    }
                                    if (Math.round(d) >= 7) {
                                        data[i].age = Math.round(d) + " days, task expired"
                                    }
                                }

                                if ((data[i].service == "GRP") || (data[i].service == "ZALORA")) {
                                    if (Math.round(d) < 21) {
                                        data[i].age = Math.round(d) + " days"
                                    }
                                    if (Math.round(d) >= 21) {
                                        data[i].age = Math.round(d) + " days, task expired"
                                    }
                                }

                                if (data[i].service == "FMX") {
                                    if (Math.round(d) < 16) {
                                        data[i].age = Math.round(d) + " days"
                                    }
                                    if (Math.round(d) >= 16) {
                                        data[i].age = Math.round(d) + " days, task expired"
                                    }
                                }
                            }
                            if (Math.round(d) < 1) {
                                data[i].age = 0 + " day"
                            }
                            console.log(data[i].age)
                            let status = data[i].currentStatus
                            let paymentStatus = data[i].paymentStatus

                            if (paymentStatus == "F") {
                                data[i].paymentStatus = "NOT COLLECTED"
                            }

                            if (paymentStatus == "T") {
                                data[i].paymentStatus = "COLLECTED"
                            }

                            if (status == "A1") {
                                data[i].currentStatus = "IN WAREHOUSE"
                            }

                            if (status == "A2") {
                                data[i].currentStatus = "IN MEDICINE ROOM"
                            }

                            if (status == "A3") {
                                data[i].currentStatus = "RE-ENTRY"
                            }

                            if (status == "B") {
                                data[i].currentStatus = "SCHEDULE FOR DELVIERY"
                            }

                            if (status == "C") {
                                data[i].currentStatus = "DELIVERY IN PROGRESS"
                            }

                            if (status == "D1") {
                                data[i].currentStatus = "SUCCESSFUL DELIVERY"
                            }

                            if (status == "D2") {
                                data[i].currentStatus = "SELF COLLECT"
                            }

                            if (status == "D3") {
                                data[i].currentStatus = "FAILED DELIVERY"
                            }

                            if (status == "D4") {
                                data[i].currentStatus = "CANCELLED DELIVERY"
                            }

                            if (data[i].service == "MOH") {
                                let expire = moment(data[i].mohExpire).format('DD/MM/YYYY')
                                data[i].mohExpire = expire
                            }

                            if (data[i].service == "JPMC") {
                                let expire = moment(data[i].jpmcExpire).format('DD/MM/YYYY')
                                data[i].jpmcExpire = expire
                            }

                            if (data[i].service == "PNG") {
                                let expire = moment(data[i].pngExpire).format('DD/MM/YYYY')
                                data[i].pngExpire = expire
                            }

                            if (data[i].service == "ZALORA") {
                                let expire = moment(data[i].zalExpire).format('DD/MM/YYYY')
                                data[i].zalExpire = expire
                            }

                            if (data[i].service == "GRP") {
                                let expire = moment(data[i].grpExpire).format('DD/MM/YYYY')
                                data[i].grpExpire = expire
                            }

                            if (data[i].service == "FMX") {
                                let expire = moment(data[i].fmxExpire).format('DD/MM/YYYY')
                                data[i].fmxExpire = expire
                            }
                        }



                        $table.bootstrapTable({ data: data })
                        $table.bootstrapTable('updateFormatText', 'formatShowingRows', 'Showing')
                    })

                    // Events
                    $('.dropdown-container')
                        .on('click', '.dropdown-button', function () {
                            $(this).siblings('.dropdown-list').toggle();
                        })
                        .on('input', '.dropdown-search', function () {
                            var target = $(this);
                            var dropdownList = target.closest('.dropdown-list');
                            var search = target.val().toLowerCase();

                            if (!search) {
                                dropdownList.find('li').show();
                                return false;
                            }

                            dropdownList.find('li').each(function () {
                                var text = $(this).text().toLowerCase();
                                var match = text.indexOf(search) > -1;
                                $(this).toggle(match);
                            });
                        })
                        .on('change', '[type="checkbox"]', function () {
                            var container = $(this).closest('.dropdown-container');
                            var numChecked = container.find('[type="checkbox"]:checked').length;
                            container.find('.quantity').text(numChecked || 'Any');
                        });

                    $(document).ready(function () {
                        var seachHtml = "";
                        var checkBoxIdNoPart = 0;
                        $("table.table-bordered thead tr th div.th-inner").each(function () {
                            checkBoxIdNoPart++;
                            seachHtml +=
                                '<input class="checkBoxClass"  value=' + checkBoxIdNoPart + ' type="checkbox">'
                        });

                        $('.dropdown-list').append(seachHtml);

                        $("#search_input").keyup(function () {
                            var searchText = $(this).val().toLowerCase();
                            // Show only matching TR, hide rest of them
                            $.each(checkBoxValArray, function (index, value) {
                                $.each($('#table tbody td:nth-child(' + value + ')'), function () {
                                    if ($(this).text().toLowerCase().indexOf(searchText) != -1)
                                        $(this).parent().show();
                                    else
                                        $(this).parent().hide();
                                });
                            });
                        });

                        var checkBoxValArray = [];
                        $('.checkBoxClass').click(function () {
                            checkBoxValArray.push($(this).val());
                        });
                    });
                </script>

    </body>
</html>