<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- sidebar navigation -->
        <%- include('partials/sidebar.ejs') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">

                <!-- top navigation -->
                <%- include('partials/topbar.ejs') %>

                <!-- Begin Page Content -->

                <%- include('partials/others/pickup.ejs') %>

                <!-- content of page goes here -->

                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <%- include('partials/footer.ejs') %>

        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <%- include('partials/logoutModal.ejs') %>

    <!-- scripts goes here -->
    <%- include('partials/scripts.ejs') %>

	

<script>
    $(function() {
  var alert = $('div.alert[auto-close]');
  alert.each(function() {
    var that = $(this);
    var time_period = that.attr('auto-close');
    setTimeout(function() {
      that.alert('close');
    }, time_period);
  });
});
</script>

<script>
    function addTextInput(){
        console.log('start')
        let i = 0
        let k
        for (i; i < document.getElementsByClassName('appendRow').length ; i++){
            k = i + 2
        }

        let row = document.getElementById("newRow")
        
        let tableRow = document.createElement("tr")
        tableRow.className = "appendRow"
        let tableCol_1 = document.createElement("td")
        let tableCol_2 = document.createElement("td")
        let tableCol_3 = document.createElement("td")
        let tableCol_4 = document.createElement("td")
        let tableCol_5 = document.createElement("td")
        let tableCol_6 = document.createElement("td")
        let tableCol_7 = document.createElement("td")
        let tableCol_8 = document.createElement("td")

        tableRow.id = "row" + k

        let numbers = document.createElement("input")
        numbers.type = "hidden"
        numbers.className = "form-control numbers"
        numbers.name = "numbering"
        numbers.value = k + "."

        let numbering = document.createElement("span")
        numbering.innerHTML = k + "."

        let customerName = document.createElement("input")
        customerName.type = "text"
        customerName.className = "form-control"
        customerName.name = "customerName"
        customerName.placeholder = "Customer Name"
        customerName.id = "customerName" + k

        let customerAddress = document.createElement("input")
        customerAddress.type = "text"
        customerAddress.className = "form-control"
        customerAddress.name = "customerAddress"
        customerAddress.placeholder = "Customer Address"
        customerAddress.id = "customerAddress"  + k

        let customerContact = document.createElement("input")
        customerContact.type = "text"
        customerContact.className = "form-control"
        customerContact.name = "customerContact"
        customerContact.placeholder = "Customer Contact"
        customerContact.id = "customerContact"  + k

        let quantity = document.createElement("input")
        quantity.type = "text"
        quantity.className = "form-control"
        quantity.name = "quantity"
        quantity.placeholder = "Quantity"
        quantity.id = "quantity"  + k

        let value = document.createElement("input")
        value.type = "text"
        value.className = "form-control"
        value.name = "value"
        value.placeholder = "Item Value"
        value.id = "value"  + k

        let div_1 = document.createElement("div")
        div_1.className = "form-group"

        let select_1 = document.createElement("select")
        select_1.className = "form-control"
        select_1.name = "serviceType"

        let optionListData_1 = new Option("MOH", "moh")
        div_1.appendChild(select_1)
        select_1.appendChild(optionListData_1)
        select_1.appendChild(new Option('JPMC/PJSC','jpmc'))
        select_1.appendChild(new Option('Panaga','panaga'))
        select_1.appendChild(new Option('Brunei Made Finest','bmf'))
        select_1.appendChild(new Option('Runner Services','runner'))
        select_1.appendChild(new Option('Personal Shopping','personal'))
        select_1.appendChild(new Option('Local Delivery','local'))
        select_1.appendChild(new Option('Thermomix','tmx'))
        select_1.appendChild(new Option('FMX','fmx'))

        tableCol_1.appendChild(numbers)
        tableCol_1.appendChild(numbering)
        tableCol_2.appendChild(div_1)
        tableCol_3.appendChild(customerName)
        tableCol_4.appendChild(customerAddress)
        tableCol_5.appendChild(customerContact)
        tableCol_6.appendChild(quantity)
        tableCol_7.appendChild(value)
        
        tableRow.appendChild(tableCol_1)
        tableRow.appendChild(tableCol_2)
        tableRow.appendChild(tableCol_3)
        tableRow.appendChild(tableCol_4)
        tableRow.appendChild(tableCol_5)
        tableRow.appendChild(tableCol_6)
        tableRow.appendChild(tableCol_7)
        tableRow.appendChild(tableCol_8)
        row.appendChild(tableRow)
    }

    function removeRow(){
        let l = document.getElementsByClassName('appendRow').length
        let id = "row" + l
        let row = document.getElementById(id)
        row.remove()
    }
</script>

</body>
</html>