       
<div class="container-fluid">
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">FMX | PROOF OF DELIVERY LIST</h6>
        </div>
        
        <div class="card-body">
        <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <table class="table table-condensed table-striped text-center">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Pod ID</th>
                                        <th>Made By</th>
                                        <th>Dispatch</th>
                                        <th>Area</th>
                                        <th>Delivery Date</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%document.forEach(document=> {%>
                                    <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
                                        <td>
                                            <button class="btn btn-default btn-xs">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-menu-down" viewBox="0 0 16 16">
                                                    <path d="M7.646.146a.5.5 0 0 1 .708 0L10.207 2H14a2 2 0 0 1 2 2v9a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h3.793L7.646.146zM1 7v3h14V7H1zm14-1V4a1 1 0 0 0-1-1h-3.793a1 1 0 0 1-.707-.293L8 1.207l-1.5 1.5A1 1 0 0 1 5.793 3H2a1 1 0 0 0-1 1v2h14zm0 5H1v2a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2zM2 4.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5z"/>
                                                </svg>
                                            </button>
                                        </td>
                                        <td><%= document.pod_id %></td>
                                        <td><%= document.madeby %></td>
                                        <td><%= document.agentName %></td>
                                        <td><%= document.deliveryArea %></td>
                                        <td><%= document.deliveryDate %></td>
                                        <td>
                                            <% if(document.podstatus == "P1"){%>
                                                ON HOLD
                                            <%}%>
                                            <% if(document.podstatus == "P2"){%>
                                                IN PROGRESS
                                            <%}%>
                                            <% if(document.podstatus == "P3"){%>
                                                COMPLETE
                                            <%}%>
                                        </td>
                                        <form action="" method="">
                                            <td><a class="btn">Start Delivery</a></td>
                                        </form>
                                    </tr>
                                        
                                    <tr>
                                        <td colspan="12" class="hiddenRow">
                                            <div class="accordian-body collapse" id="demo1"> 
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr class="info">
                                                            <th>No.</th>
                                                            <th>T/N</th>
                                                            <th>Item with Me</th>
                                                            <th>Fridge Item</th>	
                                                            <th>Customer Name</th>
                                                            <th>Customer Address</th>		
                                                            <th>Customer Contact</th>	
                                                            <th>Value (BND</th>	
                                                            <th>Payment Method</th>
                                                            <th>Delivery Type</th>
                                                            <th>Success/Fail</th>		
                                                            <th>Remark</th>	
                                                        </tr>
                                                    </thead>	
                                                                        
                                                    <tbody>
                                                        <% for(var i=0 ; i < document.numbers.length; i++) {%>
                                                        <tr data-toggle="collapse"  class="accordion-toggle" data-target="#demo10">
                                                            <td><%= document.numbers[i] %></td>
                                                            <td><%= document.trackingNumber[i] %></td>
                                                            <td></td>
                                                            <td><%= document.fridge[i] %></td>
                                                            <td><%= document.contactName[i] %></td>
                                                            <td><%= document.contactAddress[i] %></td>
                                                            <td><%= document.contactNumber[i] %></td>
                                                            <td><%= document.parcelValue[i] %></td>
                                                            <td><%= document.PaymentMethod[i] %></td>
                                                            <td><%= document.deliveryType[i] %></td>
                                                            <td>
                                                                <!--If complete button show-->
                                                                <button class="btn">Complete</button>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <%}%>
                                                    </tbody>
                                                </table>
                                            </div> 
                                        </td>
                                    </tr>
                                    <%})%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        