<div class="container-fluid">

    <!-- DataTales Example -->
<div class="card shadow mb-4">
<div class="card-header py-3">
<h6 class="m-0 font-weight-bold text-primary text-center">Finance Summary</h6>
</div>

<div class="card-body">
<!-- Outer Row -->
<div class="row justify-content-center">
<div class="col-xl-10 col-lg-12 col-md-9">
    <form class="user" method="POST" action="/itemInSuccess">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Driver Name</th>
                    <th>POD Date</th>
                    <th>Services</th>
                    <th>Tracking Number</th>
                    <th>Additional Details</th>
                    <th>Contact Name</th>
                    <th>Contact Address</th>
                    <th>Contact Number</th>
                    <th>Delivery Type</th>
                    <th>Value (BND)</th>
                    <th>Payment Method</th>
                    <th>Remarks</th>
                    <th>Payment Confirmed</th>
                </tr>
            </thead>
            <tbody>
                <% result.forEach(result=>{ %>
                    <% for(let i = 0; i < result.trackingNumber.length; i++){ %>
                        <tr>
                            <td><%= result.agentName %></td>
                            <td><%= result.deliveryDate %></td>
                            <td><%= service %></td>
                            <td><%= result.trackingNumber[i] %></td>
                            <td></td>
                            <td><%= result.contactName[i] %></td>
                            <td><%= result.contactAddress[i] %></td>
                            <td><%= result.contactNumber[i] %></td>
                            <td><%= result.deliveryType[i] %></td>
                            <td><%= result.parcelValue[i] %></td>
                            <td><%= result.PaymentMethod[i] %></td>
                            <td></td>
                            <td><!-- payment confirm --></td>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
        </table>
        <input type="hidden" class="form-control form-control-user" name="formMETHOD" id="formMETHOD" aria-describedby="contactHelp" value="POD">
    </form>
</div>
</div>
</div>
</div>