<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Finance Summary for </h6>
        </div>

        <div class="card-body">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">

                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Driver Name</th>
                                <th>POD Date</th>
                                <th>Services</th>
                                <th>Tracking Number</th>
                                <th>Additional Details</th>
                                <th>Contact Name</th>
                                <th>Contact Address</th>
                                <th>Contact Number</th>
                                <th>Delivery Type</th>
                                <th>Value (BND)</th>
                                <th>Payment Method</th>
                                <th>Remarks</th>
                                <th>Payment Confirmed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% result.forEach(result=>{ %>
                                <% for(let i=0; i < result.trackingNumber.length; i++){ %>
                                    <tr class="rowNumber">
                                        <td name="dispatch" id="dispatch">
                                            <%= result.agentName %><input type="hidden" name="disp"
                                                    value="<%= result.agentName %>">
                                        </td>
                                        <td name="date">
                                            <%= result.deliveryDate %>
                                        </td>
                                        <td>
                                            <%= service %>
                                        </td>
                                        <td>
                                            <%= result.trackingNumber[i] %>
                                        </td>
                                        <td></td>
                                        <td>
                                            <%= result.contactName[i] %>
                                        </td>
                                        <td>
                                            <%= result.contactAddress[i] %>
                                        </td>
                                        <td>
                                            <%= result.contactNumber[i] %>
                                        </td>
                                        <td>
                                            <%= result.deliveryType[i] %>
                                        </td>
                                        <td id=" price<%= [i] %>">
                                            <%= result.parcelValue[i] %><input type="hidden" id="val<%= [i] %>"
                                                    value="<%= result.parcelValue[i] %>">
                                        </td>
                                        <td name="method">
                                            <%= result.PaymentMethod[i] %>
                                        </td>
                                        <td></td>
                                        <td>
                                            <form class="user" method="POST" action="/reconService-success"></form>
                                            <input type="hidden" name="trackingNumber"
                                                value="<%= result.trackingNumber[i] %>">
                                            <input type="hidden" name="paymentStatus" value="Z1">
                                            <button class="btn btn-success delivery-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-hand-thumbs-up"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                                                </svg>
                                            </button>
                                            <input type="hidden" class="form-control form-control-user"
                                                name="formmethod" id="formmethod" aria-describedby="contactHelp"
                                                value="RS-sucess">
                                            </form>

                                            <form class="user" method="POST" action="/reconService-success"></form>
                                            <input type="hidden" name="trackingNumber"
                                                value="<%= result.trackingNumber[i] %>">
                                            <input type="hidden" name="paymentStatus" value="Z2">
                                            <button class="btn btn-danger delivery-btn">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                    fill="currentColor" class="bi bi-hand-thumbs-down"
                                                    viewBox="0 0 16 16">
                                                    <path
                                                        d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                                                </svg>
                                            </button>
                                            <input type="hidden" class="form-control form-control-user"
                                                name="formmethod" id="formmethod" aria-describedby="contactHelp"
                                                value="RS-sfail">
                                            </form>
                                        </td>
                                    </tr>
                                    <% } %>
                                        <% }) %>
                        </tbody>
                    </table>


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Drivers</th>
                                <th>Cash</th>
                                <th>BIBD</th>
                                <th>Baiduri</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="summaryBody">
                            <tr name="summaryRow">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <script defer>
            let checkDuplicateDriver = 0;
            let currentSummaryRow = 0;
            //loop existing rows
            for (let i = 0; i < document.getElementsByName("dispatch").length; i++) {
                checkDuplicateDriver = 0;
                currentSummaryRow = 0;

                var currentDriver = document.getElementsByName("dispatch")[i].innerText;

                //check driver if existed
                if (document.getElementsByName('summaryRow').length >= 1) {
                    for (let j = 0; j < document.getElementsByName('summaryRow').length; j++) {
                        if (currentDriver == document.getElementsByName("drivers")[j].innerText) {
                            currentSummaryRow = j;
                            checkDuplicateDriver = 1;
                            j = document.getElementsByName('summaryRow').length;

                            if (){

                            }
                        }
                    }
                }

                







                if ((document.getElementsByName("method")[i].innerText) == "Cash") {
                    let row_data_date = document.createElement('td');
                    row_data_date.innerHTML = "";
                    row_data_date.setAttribute('scope', 'col');

                    let row_data_customerName = document.createElement('td');
                    row_data_customerName.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].customer_username;
                    row_data_customerName.setAttribute('scope', 'col');

                    let row_data_customerAddress = document.createElement('td');
                    row_data_customerAddress.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].job_address;
                    row_data_customerAddress.setAttribute('scope', 'col');

                    let row_data_customerContact = document.createElement('td');
                    row_data_customerContact.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].customer_phone;
                    row_data_customerContact.setAttribute('scope', 'col');

                    let row_data_valueBND = document.createElement('td');
                    row_data_valueBND.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].custom_field[2].data;
                    row_data_valueBND.setAttribute('scope', 'col');
                    row_data_valueBND.setAttribute('name', 'cashValueRow');

                    let row_data_paymentMethod = document.createElement('td');
                    row_data_paymentMethod.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].custom_field[1].data;
                    row_data_paymentMethod.setAttribute('scope', 'col');

                    let row_data_deliveryType = document.createElement('td');
                    row_data_deliveryType.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].job_description;
                    row_data_deliveryType.setAttribute('scope', 'col');

                    let row_data_empty1 = document.createElement('td');
                    row_data_empty1.setAttribute('scope', 'col');
                    row_data_empty1.setAttribute('colspan', '2');

                    let taskRow = document.createElement('tr');
                    taskRow.setAttribute("name", "taskRow");

                    let row_data_number = document.createElement('td');
                    row_data_number.innerHTML = (countTN + 2) + ".";
                    row_data_number.setAttribute('scope', 'col');

                    let row_data_trackingNumber = document.createElement('td');
                    row_data_trackingNumber.setAttribute("name", "trackingNumberRow");
                    row_data_trackingNumber.setAttribute('scope', 'col');

                    let trackingNumberInputTemp = document.createElement('input');
                    trackingNumberInputTemp.setAttribute("type", "text");
                    trackingNumberInputTemp.setAttribute("class", "form-control");
                    trackingNumberInputTemp.setAttribute("name", "trackingNumberTemp");
                    trackingNumberInputTemp.setAttribute("id", "trackingNumberTemp");
                    trackingNumberInputTemp.setAttribute("aria-describedby", "trackingNumberHelp");
                    trackingNumberInputTemp.setAttribute("placeholder", "Enter Tracking Number");
                    trackingNumberInputTemp.setAttribute("disabled", "true");

                    let row_data_empty2 = document.createElement('td');
                    row_data_empty2.setAttribute('colspan', '2');
                    row_data_empty2.setAttribute('scope', 'col');

                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_empty0);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_customerName);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_customerAddress);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_customerContact);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_valueBND);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_paymentMethod);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_deliveryType);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_empty1);

                    document.getElementById("taskBody").appendChild(taskRow);

                    document.getElementsByName("taskRow")[(countTN + 1)].appendChild(row_data_number);
                    document.getElementsByName("taskRow")[(countTN + 1)].appendChild(row_data_trackingNumber);
                    document.getElementsByName("trackingNumberRow")[(countTN + 1)].appendChild(trackingNumberInputTemp);

                    document.getElementById("taskBody").style.textAlign = "center";

                }

                if ((document.getElementsByName("method")[i].innerText) == "Bank Transfer (Baiduri)") {

                }

                if ((document.getElementsByName("method")[i].innerText) == "Bill Payment (BIBD)") {

                }
            }
        </script> -->
    </div>