<div class="container-fluid">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary text-center">Finance Summary for </h6>
        </div>

        <div class="card-body">
            <!-- Outer Row -->
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    <form  method="POST" action="/RS-success">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Driver Name</th>
                                <th>POD Date</th>
                                <th>Services</th>
                                <th>Tracking Number</th>
                                <th>Additional Details</th>
                                <th>Contact Name</th>
                                <th>Contact Address</th>
                                <th>Contact Number</th>
                                <th>Delivery Type</th>
                                <th>Value (BND)</th>
                                <th>Payment Method</th>
                                <th>Proof of Payment</th>
                                <th>Remarks</th>
                                <th>Payment Confirmed</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% result.forEach(result=>{ %>
                                    <tr class="rowNumber">
                                        <td name="dispatch" id="dispatch">
                                            <%= result.driver %><input type="hidden" name="disp"
                                                    value="<%= result.driver %>">
                                        </td>
                                        <td name="date">
                                            <%= result.deliveryDate %>
                                        </td>
                                        <td>
                                            <%= service %>
                                        </td>
                                        <td>
                                            <%= result.trackingNumber %>
                                            <input type="hidden" name="trackingNumber" value="<%= result.trackingNumber %>">
                                        </td>
                                        <td></td>
                                        <td>
                                            <%= result.contactName %>
                                        </td>
                                        <td>
                                            <%= result.contactAddress %>
                                        </td>
                                        <td>
                                            <%= result.contactNumber %>
                                        </td>
                                        <td>
                                            <%= result.deliveryType %>
                                        </td>
                                        <td id=" price">
                                            <%= result.value %><input type="hidden" id="val"
                                                    value="<%= result.value %>">
                                        </td>
                                        <td name="method">
                                            <%= result.paymentType %>
                                        </td>
                                        <td name="proofOfPayment">
                                        </td>
                                        <td>
                                            <div class="form-floating">
                                                <textarea class="form-control" name="ackCode" placeholder="" id="" style="height: 100px"></textarea>
                                            </div>
                                        </td>
                                        <td>
                                            <% if (result.paymentStatus == "T") { %>
                                                <div class="form-switch">
                                                    <input class="form-check-input disabled" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
                                                </div>
                                            <% } %>
                                            <% if (result.paymentStatus == "F") { %>
                                                <div class="form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                </div>
                                            <% } %>
                                        </td>
                                    </tr>
                                <% }) %>
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-center mb-5">
                        <button class="btn btn-primary">submit</button>
                    </div>
                    </form>


                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Drivers</th>
                                <th>Cash</th>
                                <th>BIBD</th>
                                <th>Baiduri</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="summaryBody">
                            <tr name="summaryRow">
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <script defer>
            let checkDuplicateDriver = 0;
            let currentSummaryRow = 0;
            //loop existing rows
            for (let i = 0; i < document.getElementsByName("dispatch").length; i++) {
                checkDuplicateDriver = 0;
                currentSummaryRow = 0;

                var currentDriver = document.getElementsByName("dispatch")[i].innerText;

                //check driver if existed
                if (document.getElementsByName('summaryRow').length >= 1) {
                    for (let j = 0; j < document.getElementsByName('summaryRow').length; j++) {
                        if (currentDriver == document.getElementsByName("drivers")[j].innerText) {
                            currentSummaryRow = j;
                            checkDuplicateDriver = 1;
                            j = document.getElementsByName('summaryRow').length;

                            if (){

                            }
                        }
                    }
                }

                







                if ((document.getElementsByName("method")[i].innerText) == "Cash") {
                    let row_data_date = document.createElement('td');
                    row_data_date.innerHTML = "";
                    row_data_date.setAttribute('scope', 'col');

                    let row_data_customerName = document.createElement('td');
                    row_data_customerName.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].customer_username;
                    row_data_customerName.setAttribute('scope', 'col');

                    let row_data_customerAddress = document.createElement('td');
                    row_data_customerAddress.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].job_address;
                    row_data_customerAddress.setAttribute('scope', 'col');

                    let row_data_customerContact = document.createElement('td');
                    row_data_customerContact.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].customer_phone;
                    row_data_customerContact.setAttribute('scope', 'col');

                    let row_data_valueBND = document.createElement('td');
                    row_data_valueBND.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].custom_field[2].data;
                    row_data_valueBND.setAttribute('scope', 'col');
                    row_data_valueBND.setAttribute('name', 'cashValueRow');

                    let row_data_paymentMethod = document.createElement('td');
                    row_data_paymentMethod.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].custom_field[1].data;
                    row_data_paymentMethod.setAttribute('scope', 'col');

                    let row_data_deliveryType = document.createElement('td');
                    row_data_deliveryType.innerHTML = json_responsetn.data[(json_responsetn.data.length) - 1].job_description;
                    row_data_deliveryType.setAttribute('scope', 'col');

                    let row_data_empty1 = document.createElement('td');
                    row_data_empty1.setAttribute('scope', 'col');
                    row_data_empty1.setAttribute('colspan', '2');

                    let taskRow = document.createElement('tr');
                    taskRow.setAttribute("name", "taskRow");

                    let row_data_number = document.createElement('td');
                    row_data_number.innerHTML = (countTN + 2) + ".";
                    row_data_number.setAttribute('scope', 'col');

                    let row_data_trackingNumber = document.createElement('td');
                    row_data_trackingNumber.setAttribute("name", "trackingNumberRow");
                    row_data_trackingNumber.setAttribute('scope', 'col');

                    let trackingNumberInputTemp = document.createElement('input');
                    trackingNumberInputTemp.setAttribute("type", "text");
                    trackingNumberInputTemp.setAttribute("class", "form-control");
                    trackingNumberInputTemp.setAttribute("name", "trackingNumberTemp");
                    trackingNumberInputTemp.setAttribute("id", "trackingNumberTemp");
                    trackingNumberInputTemp.setAttribute("aria-describedby", "trackingNumberHelp");
                    trackingNumberInputTemp.setAttribute("placeholder", "Enter Tracking Number");
                    trackingNumberInputTemp.setAttribute("disabled", "true");

                    let row_data_empty2 = document.createElement('td');
                    row_data_empty2.setAttribute('colspan', '2');
                    row_data_empty2.setAttribute('scope', 'col');

                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_empty0);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_customerName);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_customerAddress);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_customerContact);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_valueBND);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_paymentMethod);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_deliveryType);
                    document.getElementsByName("taskRow")[countTN].appendChild(row_data_empty1);

                    document.getElementById("taskBody").appendChild(taskRow);

                    document.getElementsByName("taskRow")[(countTN + 1)].appendChild(row_data_number);
                    document.getElementsByName("taskRow")[(countTN + 1)].appendChild(row_data_trackingNumber);
                    document.getElementsByName("trackingNumberRow")[(countTN + 1)].appendChild(trackingNumberInputTemp);

                    document.getElementById("taskBody").style.textAlign = "center";

                }

                if ((document.getElementsByName("method")[i].innerText) == "Bank Transfer (Baiduri)") {

                }

                if ((document.getElementsByName("method")[i].innerText) == "Bill Payment (BIBD)") {

                }
            }
        </script> -->
    </div>